@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-4">
    <h4> Welcome to </h4>
    <h1 class="display-4" style="font-size:200px">MovieStub</h1>
</div>

<div class="text-center" style="margin-top:20px">
    <h4> The best and quickest way to buy a ticket and make sure to never miss out on any movie</h4>
</div>
